.additional-goods {
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
  padding-left: 20px;
  padding-top: 28px;
}

.additional-goods__item {
  margin-right: 20px;
  margin-top: -1px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  padding-top: 13px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.additional-goods__title {
  margin-top: 0;
  margin-bottom: 13px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.additional-goods__table {
  // display: flex;
  line-height: 14px;
  color: @text-color;
  font-family: "Arial", sans-serif;
  margin-bottom: 15px;
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;

  & tbody {
    // display: flex;
    // width: 100%;
    // flex-direction: column;
  }

  & tr {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
  }

  & td {
    padding: 0;
    word-break: break-all;
    // width: 50%;
  }
}

.additional-goods__value {
  text-align: right;
}
