.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @text-color;
  text-decoration: none;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  background: url("../../img/htmlacademy.svg") no-repeat center;
  background-size: cover;
}
