.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
}

.copyright__link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: @text-color;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  path {
    fill: #666666;
  }

  &:hover {
    path {
      fill: @bg-green;
    }
  }

  &:active {
    path {
      fill: @bg-green;
      opacity: 0.3;
    }
  }
}
