.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: @bg-grey;
}

.footer__contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 20px;
  padding-top: 28px;

  &--bg-white {
    background-color: #ffffff;
  }
}

.footer__cooperation {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 10px;
  margin-left: -1px;
  width: 50%;
}

.footer__address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 2px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Arial", sans-serif;
  line-height: 20px;
  color: @text-color;
  width: 50%;
}

.footer__map {
  border: 0;
  width: 100%;
  height: 362px;
  margin-bottom: 40px;
  background:
    url("../img/map-pin.png") no-repeat center 140px,
    url("../img/bg-map-mobile@1x.png") no-repeat 0 -37px;
  background-size: 55px 53px, cover;
}

.footer__wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: @tablet-width) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 57px;
  }

  .footer__contacts {
    padding: 63px 70px;
    width: 100%;
  }

  .footer__cooperation {
    width: 160px;
    font-size: 20px;
    line-height: 1.25;
  }

  .footer__address {
    width: 160px;
    text-align: right;
    font-size: 16px;
  }

  .footer__address span {
    margin-top: 15px;
  }

  .footer__map {
    height: 396px;
    background:
      url("../img/map-pin.png") no-repeat center,
      url("../img/bg-map-tablet@1x.png") no-repeat center;
    background-size: 113px 106px, contain;
    margin-bottom: 60px;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .footer__contacts {
    position: absolute;
    width: 570px;
    left: calc(50% - 610px);
    top: 95px;
  }

  .footer__map {
    height: 400px;
    background:
      url("../img/map-pin.png") no-repeat calc(50% + 340px) center,
      url("../img/bg-map-desktop@1x.png") no-repeat center;
  }

  .footer__wrapper {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}

// @media (min-width: @desktop-width) {
//   .footer {
//     width: 1300px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }
