.secondary-title {
<<<<<<< HEAD
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
=======
  position: relative;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  overflow: hidden;
>>>>>>> 92d5b38c96e97ec56028136ce15e600e007400af

  &::after {
    content: "";
    position: absolute;
<<<<<<< HEAD
    width: 100%;
    height: 3px;
    top: 14px;
    background-color: @bg-green;
    z-index: -1;
  }
}

.secondary-title__wrapper {
  min-width: fit-content;
  background-color: #ffffff;
  padding-right: 24px;
  line-height: 24px;
}
=======
    top: 57%;
    width: 100%;
    height: 3px;
    margin-left: 20px;
    background-color: @bg-green;
  }
}
>>>>>>> 92d5b38c96e97ec56028136ce15e600e007400af
