.social {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 22px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  justify-content: center;
  border-top: 1px solid @line-color;
  border-bottom: 1px solid @line-color;
}

.social__link {
  width: 22px;
  height: 19px;
  font-size: 0;
  margin-left: 18px;
  margin-right: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  &--vkontakte {
    background-image: url("../../img/icon-vk-mobile.svg");
  }

  &--facebook {
    background-image: url("../../img/icon-fb-mobile.svg");
  }

  &--instagram {
    background-image: url("../../img/icon-insta-mobile.svg");
  }
}
